{% extends 'base_examples.twig' %}

{% block data %}
    <h2>Полученные параметры: {{ param1 }} + {{ param2 }} = {{ sum }}</h2>
    <p>Демонстрация с передачей параметров из URI в контроллер и расчет значения на их основе.
        Вы можете попробовать поменять значения в URI {{ param1 }} и {{ param2 }} на любые желаемые и использовать
        пример, как калькулятор ;)</p>
    <p>Учтите, что маршрут настроен лишь на прием цифровых значений, любые другие будут проигнорированы.</p>
{% endblock %}