<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Документация DMF &bull; {% block title %}Описание фреймворка{% endblock %}</title>
    <link rel="stylesheet" href="{{ static_url }}styles/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url }}styles/doc.css{{ random_string }}">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner" style="box-shadow: 0 0 3px #000000;">
        <div class="container">
            <a href="{{ base_url }}/doc/" class="brand">DMF.DOC</a>
            <ul class="nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Начало работы <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ base_url }}/doc/index.html">Описание</a></li>
                        <li><a href="{{ base_url }}/doc/installation.html">Установка</a></li>
                        <li><a href="{{ base_url }}/doc/setup.html">Базовые настройки</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Модули <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ base_url }}/doc/module-structure.html">Структура модулей</a></li>
                        <li><a href="{{ base_url }}/doc/module-create.html">Создание модуля</a></li>
                        <li><a href="{{ base_url }}/doc/module-firstapp.html">Создание первого приложения</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Контроллеры <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ base_url }}/doc/controller-index.html">Описание контроллеров</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="{{ base_url }}/api/index.html">DMF API</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="wrapper">
            <div class="proper-content">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="span12">
                        {% block content %}
                        <div class="alert alert-block">Данная страница документации находится в стадии написания.</div>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="push"></div>
        </div>
        <div class="footer-wrapper">
            <footer>Работает на <a href="https://github.com/damirazo/DMF">DM Framework</a></footer>
        </div>
    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url }}scripts/bootstrap.min.js"></script>
</body>
</html>